{% extends 'base.html.twig' %}

{% block body %}
   <div class="row">
      <h1>Orders and Returns</h1>
   </div>
   <div class="row">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
   </div>
{% endblock %}
